.application-tree {
  background-color: rgb(17, 43, 82);
  border-radius: 0 4px 0 0;
  padding: 5px;
  min-width: max-content;
  width: 100%;
  max-width: 10rem;
  height: calc(100vh - 5rem - 2px);
}

.application-contaner {
  display: flex;
  & > * + * {
    margin-left: calc(0.5rem * calc(1 - 0));
  }
}

.fields-list {
  margin-left: 0.5rem;
}

.section-contaner {
  width: 100%;
  // display: flex;
  // justify-content: center;
}
