.container {
    padding: 10px 10% ;
    height: 100%;
}

.main {
    margin-top: 10px;
    height: 100%;
}

.devider {
    position: relative;
    width: 100%;
    margin-top: 40px;
    height: 1px;
    background-color: rgb(39, 32, 75);
} 

.navigator {
    position: relative;
    height: 100%;
    margin-top: -10px;
    border-right: 2px solid rgb(39, 32, 75);
    float: left;
    .non_filled {
        background-color: rgb(126, 126, 126);
    }

    .filled  {
        background-color: rgb(45, 5, 138);
    }

    .n_element{
        position: relative;
        margin-top: 40px;
        float: right;
        margin-right:  30px;
        text-align: right;
        .text {
            position: relative;
            float: left;

            margin-right: 10px;
            p {
                color: rgb(162, 162, 162);
                font-size: 14px;
                margin-top: -10px;
            }
        }
         
        .image {
            position: relative;
            float: left;
            height: 40px;
            padding: 20px 20px;
            img {
                height: 40px;
            }
            
            margin-left: 10px;
            border-radius: 50px;
        }
    }
}


.content {
    overflow-y: hidden;
    padding: 20px 40px;

    .text_headings{
        p {
            margin-top: -10px;
            color: rgb(148, 148, 148);
        }
    }
}

.large_selector {
    position: relative;
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(162, 162, 162);

    .text {
        text-align: left;
        float: left;
        margin-top: -2px;
        h3 {
            font-weight: 400;
        }
        p {
            margin-top: -12px;
            font-size: 15px;
        }
    }

    .image {
        float: left;
        height: 50px;
        margin-top: 5px;
        padding: 10px;
        margin-right: 10px;
        background-color: rgb(45, 5, 138);
        border-radius: 50px;
        img {
            height: 50px;
        }
    }

    .selected {
        border: solid 1px rgb(39, 32, 75); 
    }
}

.spacer {
    width: 2px;
    height: 100px;
}