.container {
    position: absolute;
    top: 40%;
    border-radius: 10px;
    left: 50%;
    text-align: center;
    margin-top: 100px;
    width: 50%;
    height: 700px;
    transform: translate(-50%, -50%);
    background-color: #080e1f !important;
}

.container_main {
    margin-top: 25px;
}

.top_progress {
    position: absolute;
    top: 1px;
    left: 0;
    width: 10%;
    height: 2px;
    background-color: #432891;
}

.options {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
