.big_button {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 1em;
    color: white;
    width: 500px;
    margin-top: 20px;
}

.small_button {
    padding: 11px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 1em;
    color: white;
    margin-top: 20px;
}

.border {
    background-color: transparent;
    border: 2px solid #432891;
    border-radius: 2px;
}

.colored {
    background: #432891;
}

.gradient {
    background: linear-gradient(to right, #432891, #2a098d) !important;
}

.gradient_reversed {
    background: linear-gradient(to right, #2a098d, #432891) !important;
}
