.outline_input {
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 500px;
    background-color: white;
    color: black;
}

.button_spacer {
    margin-right: 10px;
}

.text_area {
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 500px;
    background-color: white;
    color: black;
    max-width: 500px;
    max-height: 200px;
    width: 500px;
    height: 200px;
    margin-top: 20px;
    font-family: 'Roboto';
}