$text_container_bg: rgb(16, 17, 34);
$text_container_secondary: #432891;

.outline_input {
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 500px;
    background-color: white;
    color: black;
}

.button_spacer {
    margin-right: 10px;
}

.text_area {
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 500px;
    background-color: white;
    color: black;
    max-width: 500px;
    max-height: 200px;
    width: 500px;
    height: 200px;
    margin-top: 20px;
    font-family: "Roboto";
}

.text_container {
    margin: 0;
    margin-bottom: 0px;
    background-color: $text_container_bg;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    span {
        color: rgb(233, 233, 233);
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 10px;
        margin-top: 0;

        .text_contianer_text {
            float: left;
        }

        img {
            float: left;
            height: 20px;
            margin-right: 3px;
        }
    }
    .embedded_form {
        background-color: $text_container_bg;
        border: none;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        resize: none;
        width: 100%;
        margin-top: -10px;
        height: 100%;
        padding: 10px 0px;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
    }
}

.selector_container {
    margin: 0;
    margin-bottom: 0px;
    background-color: $text_container_bg;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    span {
        color: rgb(233, 233, 233);
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 10px;

        .text_contianer_text {  
            float: left;
        }

        img {
            float: left;
            height: 20px;
            margin-right: 3px;
        }
    }
}

.dropdown {
    padding: 10px 0px;
    margin-top: 25px;
    width: 100%;
    cursor: pointer;
    position: relative;

    .down_arrow {
        float: right;

        img {
            height: 20px;
            transition: 0.2s all ease;
            margin-top: 5px;
        }
    }

    .currently_selected {
        padding: 0px 6px;
    }

    .dropdown_selector {
        transition: all 0.3s ease;
        margin-top: 0px;
        display: none;
        position: absolute;
        background-color: $text_container_bg;
        width: 100%;
        padding: 0;
        .item {
            transition: all 0.2s ease;
            padding: 10px 10px;
            &:hover {
                background-color: $text_container_secondary;
            }
        }
    }
}

.selected {
    .dropdown_selector {
        display: block;
        animation: fade-in 0.2s;
    }

    .down_arrow img {
        transform: rotateZ(180deg);
    }
}


.date_picker_container{
    margin: 0;
    margin-bottom: 0px;
    background-color: $text_container_bg;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;


    span {
        color: rgb(233, 233, 233);
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 10px;
        margin-top: 0;

        .text_contianer_text {
            float: left;
        }

        img {
            float: left;
            height: 20px;
            margin-right: 0px;
        }
    }

    input {
        background-color: $text_container_bg;
        border: none;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        resize: none;
        width: 100%;
        margin-top: -10px;
        height: 100%;
        padding: 10px 0px;
        border-style: none;
        border-color: Transparent;
        overflow: auto;

    }

    .picker_container {
        margin-top: 10px;
        margin-left: 10px;

    }
}


@keyframes fade-in {
    from {
        opacity: 0;
        display: block;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}
