$bg-color-1: #0C142C;


@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: "San Francisco", sans-serif;
  background-color: $bg-color-1;
  color: white;
  margin: 0;
}