.main_header{
    background-color: #080E1F !important;
    height: 400px;
    margin: 0;
    width: 100%;
    border-top: 2px  solid #24114C;
    border-bottom: 2px  solid #24114C;

    .text_headings{
        text-align: center;
        margin-top: 75px;
        h1 {
            font-weight: 700;
            font-size: 39px;
        }

        P {
            font-size: 16px;
            color: grey;
        }
    }
}
