.container {
    display: flex;
    justify-content: center;
    align-items: center !important;

    .inner {
        margin-top: 20px;
        width: 65%;
        height: 700px;
        background-color: #080E1F;
        border-radius: 10px;
    }
}

.user_banner {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.user_info {
    padding: 10px 20px;

    div {
        margin-top: -20px;
        margin-left: 10px;
        
        h1 {
            font-weight: 400;
            font-size: 30px;

            span {
                color: grey;
                font-size: 20px;
            }
        }
    }
}

.tag {
    width: 30px;
    margin-right: 10px;
    img {
        height: 30px;
    }
}

.user_type {
    margin-top: -14px;
}

.pfp {
    height: 150px;
    border-radius: 50%;
    margin-top: -100px;
}

.tag_container {
    display: inline-block;
    width: 300px;
    margin-left: -10px !important;
}