.container {
  padding: 1rem 12.5%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 10px 20px;
  padding: 20px 0px;

  a {
    color: #929292;
    cursor: pointer;
    transition: color 200ms ease 0s;
    line-height: 1.2;
    font-size: 0.9em;

    &:hover {
      color: #ffffff;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: bold;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;

  p {
    margin: 0;
  }

  a {
    color: #929292;
    cursor: pointer;
    transition: color 200ms ease 0s;
    margin-right: 15px;

    &:hover {
      color: #ffffff;
    }
  }
}

.logo {
  display: grid;
  align-content: center;
}

.arrow {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

.divider {
  border: rgba(134, 103, 255, 0.501961) solid 2px;
}

.links {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: 130%;
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .affiliate {
      grid-column: 1 / 3;
      grid-row: 2;
      text-align: center;
      padding-top: 15px;
    }

    .copyright {
      text-align: right;
    }

    a {
      margin-right: 5px;
    }
  }
}
