/* I use arch btw. */

$bg-color-1: #0c142c;
$bg-scroll-track: #1a2c61;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'San Francisco', sans-serif;
  font-weight: 400, 500, 600, 700;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $bg-color-1;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  -webkit-filter: blur(0.000001px) !important;
}

#nprogress .bar {
  background-color: rgb(88, 74, 216) !important;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}
body::-webkit-scrollbar-track {
  background: $bg-color-1;
}
body::-webkit-scrollbar-thumb {
  background: $bg-scroll-track;
  border-radius: 5px;
}

html,
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fourzerofour_container {
  width: 80%;
  margin: 0 auto;

  .text-container {
    width: 500px;

    button {
      padding: 10px;
      border-radius: 16px;
      border: none;
      background-color: #432891;
      color: white;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

footer ul span {
  color: #9ca3af;
}
// guild card animation

.gdc-sihf {
  animation: fadeUpGCA var(--duration) ease-in-out;
  transform: translateY(0);
  opacity: 1;
}

@keyframes fadeUpGCA {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(-2px);
  }
  0% {
    transform: translateY(40%);
    opacity: 0.02;
  }
}

// animated badge name pop up
.badges-oujrf {
  &:hover {
    & .badge-name-fis {
      opacity: 1;
      transform: skew(0deg, 0deg);
      bottom: 2.6rem;
    }
  }
  .badge-name-fis {
    transition: all 0.3s ease-in-out;
    transform: skew(-3deg, -10deg);
    opacity: 0;
    bottom: 1.3rem;
  }
}

// Access error animations

.model-fhi {
  animation: accessError 0.8s;
  background-color: #432891;
  transform: rotate(0turn) scale(100%);
}

@keyframes accessError {
  100% {
    transform: rotate(0turn) scale(100%);
  }
  50% {
    transform: rotate(-0.006turn);
  }
  0% {
    transform: rotate(0.006turn) scale(50%);
  }
}

// Animated loader found from ; https://codepen.io/Siddharth11/pen/xbGrpG

// loader
$grey: rgba(247, 247, 247, 0.753);
$blue: rgba(15, 89, 226, 0.856);

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: $grey;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $blue;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $grey;
  }
}

@mixin loaderDivMixin {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 300px;
  height: 300px;
  display: block;
  overflow: hidden;
  div {
    height: 100%;
    &:hover {
      animation-play-state: paused;
    }
  }
  &:hover {
    animation-play-state: paused;
  }
}

/* loader 4 */
.loader4,
.loader4 div {
  @include loaderDivMixin;
  border-radius: 50%;
  padding: 4px;
  animation: rotate2 5s infinite linear;
}

.loader,
.loader * {
  will-change: transform;
}

.bio {
  background-color: #0000002c;
  border-radius: 1rem;
  padding: 0.6rem;
}
