.top {
  background-color: #080e1f;
  width: 100%;
  box-shadow: inset 0 0 1px 2px #24114c;
  padding: 200px 12.5%;
}

.search {
  height: 3rem;
  width: 40%;
  background-color: white;
  color: #111111;
  border-radius: 16px 0px 0px 16px;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;

  &::placeholder {
    font-size: 1.2rem;
  }

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .search {
    width: 100%;
  }
}

.search_button {
  height: 3rem;
  border-radius: 0px 16px 16px 0px;
}

.search_bar {
  height: 3rem;
  display: flex;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.233);

  .content {
    position: relative;
    background: #414141;
    padding: 2rem;
    border-radius: 1rem;
  }

  h1 {
    margin: 1rem 0;
    color: #eb4545;
  }

  a {
    color: #929292;
    cursor: pointer;
    transition: color 200ms ease 0s;

    &:hover {
      color: #ffffff;
    }
  }

  .cross {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;

    svg {
      width: 32px;
      height: 32px;
      fill: #929292;
      stroke: #929292;
      transition: color 200ms ease 0s;

      &:hover {
        fill: white;
        stroke: white;
      }
    }
  }
}

.guild_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  margin: 1rem 4rem;
}

@media screen and (min-width: 1024px) {
  .guild_list {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .guild_list {
    gap: 1rem;
    margin: 1rem;
  }
}
