$bg-bottons-section: #27282b;
$bg-goto-button: #3c61f5;

.markdown-content-contaner a {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  color: $bg-goto-button;
}

.__jksnv {
  z-index: 99998;
  position: sticky;
  width: 100%;
  min-height: 0;

  .content-isahf {
    position: relative;
    .main-content-sofd {
      animation: var(--animation-hf) 0.3s;
      z-index: 99999;
      left: 0;
      top: 0;
      position: fixed;
      min-height: 100vh;
      height: 100%;
      width: 100%;
      background: rgba(12, 12, 12, 0.69);

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;

      .model-ujt {
        animation: var(--animation-dp) 0.35s;
        left: 0;
        top: 45%;
        position: sticky;

        text-align: center;
        max-width: 400px;
        border-radius: 4px;
        background: #2e2e2e;

        .goto-sf {
          padding: 5px 15px;
          margin: 6px 0;
          border-radius: 4px;
          background: #122f7e;
        }
        #cancelosjf {
          border-radius: 4px;
          padding: 5px 15px;
          background: #202022;
        }
        .top-sfoj {
          padding: 3px 5px;
        }
        .bt-15j {
          & > * + * {
            margin-left: calc(0.25rem * calc(1 - 0));
          }
          border-radius: 4px;
          padding: 3px 5px;
          background-color: $bg-bottons-section;
        }
      }

      .info-model {
        animation: var(--animation-dp) 0.35s;
        position: sticky;
        left: 0;
        top: 25%;

        text-align: center;
        max-width: 400px;
        border-radius: 4px;
        background: #2e2e2e;

        .content-g8y {
          user-select: none;
          display: flex;
          flex-direction: column;
          padding: 5px;
          min-height: 300px;
          min-width: 300px;

          div {
            h1 {
              cursor: text;
            }
            display: flex;
            font-size: 20px;
            justify-content: center;
          }
          p {
            margin-top: 10px;
            .tags-list-htg {
              font-size: 1rem;
              background-color: #202022;
            }
            a {
              color: #4d73f1;
            }
            .res-added {
              font-size: 12px;
              color: rgb(126, 126, 126);
            }
          }
        }
      }
    }
  }
}

@keyframes animatebgin {
  100% {
    background: rgba(12, 12, 12, 0.69);
  }
  0% {
    background: rgba(12, 12, 12, 0);
  }
}

@keyframes animatedINmodle {
  100% {
    transform: scale(100%);
  }
  0% {
    transform: scale(5%);
  }
}

@keyframes animatebgout {
  100% {
    background: rgba(12, 12, 12, 0);
  }
  0% {
    background: rgba(12, 12, 12, 0.69);
  }
}
@keyframes animatedOUTmodle {
  100% {
    transform: scale(5%);
  }
  0% {
    transform: scale(100%);
  }
}
