$bg-bottons-section: #27282b;
$bg-goto-button: #3c61f5;

.markdown-content-contaner a {
  &[data-linking='true'] {
    &:hover {
      text-decoration: underline;
    }
    color: $bg-goto-button;
  }
  &[data-linking='false'] {
    cursor: default;
  }
}

.__jksnv {
  z-index: 99998;
  position: sticky;
  width: 100%;
  min-height: 0;

  .content-isahf {
    position: relative;
    .main-content-sofd {
      animation: var(--animation-hf) 0.3s;
      z-index: 99999;
      left: 0;
      top: 0;
      position: fixed;
      min-height: 100vh;
      height: 100%;
      width: 100%;
      background: rgba(12, 12, 12, 0.69);

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;

      .model-ujt {
        animation: var(--animation-dp) 0.35s;
        left: 0;
        top: 45%;
        position: sticky;

        text-align: center;
        max-width: 400px;
        border-radius: 4px;
        background: #2e2e2e;

        .goto-sf {
          padding: 5px 15px;
          border-radius: 4px;
          background: #122f7e;
        }
        #cancelosjf {
          border-radius: 4px;
          padding: 5px 15px;
          background: #202022;
        }
        .top-sfoj {
          padding: 3px 5px;
        }
        .bt-15j {
          border-radius: 4px;
          padding: 3px 5px;
          background-color: $bg-bottons-section;
        }
      }
    }
  }
}

@keyframes animatebgin {
  100% {
    background: rgba(12, 12, 12, 0.69);
  }
  0% {
    background: rgba(12, 12, 12, 0);
  }
}

@keyframes animatedINmodle {
  100% {
    transform: scale(100%);
  }
  0% {
    transform: scale(10%);
  }
}

@keyframes animatebgout {
  100% {
    background: rgba(12, 12, 12, 0);
  }
  0% {
    background: rgba(12, 12, 12, 0.69);
  }
}
@keyframes animatedOUTmodle {
  100% {
    transform: scale(10%);
  }
  0% {
    transform: scale(100%);
  }
}
