.navbar nav {
  padding: 1rem 12.5%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 5rem;
  font-size: large;

  li,
  a {
    color: white;
    text-decoration: none;
  }

  ul {
    display: inherit;
    justify-content: space-around;
    list-style: none;
    margin: auto 0;
    padding: 0;
  }

  li {
    color: white;
    text-align: center;
    margin: auto 0;
    padding: 0 1rem;
  }

  img {
    margin: auto 0;
  }
}

.login {
  border-radius: 1rem;
  place-content: center;
  text-align: center;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  height: 50px;
}

.dropdown_items {
  position: absolute;
  width: 10rem;
  top: 6rem;
  right: 12.5%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 0.5rem;
  background: #0b2041;
  border-radius: 5px;
  row-gap: 0.2rem;
  z-index: 2;

  button {
    padding: 0;
    background: transparent;
    border-radius: 4px;
    padding: 4px;
    box-shadow: none !important;

    a {
      display: grid;
      grid-template-columns: 28px 1fr;
      text-align: left;
    }

    span {
      padding-left: 4px;
    }

    svg {
      margin: auto;
    }

    &:hover {
      background: #0b2041;
    }
  }

  .logout {
    display: grid;
    grid-template-columns: 28px 1fr;
    text-align: left;
  }

  .logout:hover {
    background: red;
  }
}

.user_button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  box-shadow: none !important;
  margin: auto 0;
}

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 !important;
}

// TODO: Loading icon/animation
.load {
  background-color: grey;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .navbar nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: x-large;
    justify-items: center;

    ul {
      display: flex;
      flex-direction: column;
      grid-column: 1 / 4;
    }

    .logo {
      grid-column: 2;
    }

    .login,
    .load,
    .user_button {
      grid-column: 1;
      grid-row: 1;
    }

    li {
      padding: 1rem 0;
    }

    .menu {
      background-color: transparent;
      color: #edf0f1;
      padding: 0;
      border: none;
      cursor: pointer;
    }

    img {
      margin: 6px 0;
      cursor: pointer;
    }
  }

  .dropdown_items {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    top: unset;
    right: unset;
    width: 100%;
    background: none;
    align-items: center;
    padding: 0;

    button {
      padding: 1rem;
      margin: auto 0;
      font-size: 100%;
      font-weight: normal;
    }
  }
}
