li, a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 50px;
}

.nav__links {
    list-style: none;

    li {
        display: inline-block;
        padding: 0px 20px;
    }

}


.primary-button {
    padding: 9px 25px;
    background-color: #432891;
    border: none;
    border-radius: 17px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;


    &:hover {
        background-color: #3c2483;
    }
}