.container {
  place-content: center;
}

.inner {
  position: relative;
  background-color: #061021;
  padding: 6rem 2rem 2rem;
  border-radius: 2rem;
  width: 100%;
  min-width: 100%;
}

.banner {
  position: absolute;
  border-radius: 2rem 2rem 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.pfp {
  border-radius: 50%;
  position: relative;
}

.tag {
  color: grey;
  font-style: italic;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  & > * + * {
    margin-left: calc(0.25rem * calc(1 - 0));
  }
}

.badge_item {
  position: relative;
  .badge_name {
    user-select: none;
    z-index: -1;
    position: absolute;
    bottom: 50px;
    opacity: 0;
    transition: all 0.3s;
    background-color: #2c2d2eb2;
    padding: 3px 5px;
    border-radius: 2px;
    width: max-content;
  }

  &:hover .badge_name:not(.badge_name:hover) {
    opacity: 1;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) {
  .inner {
    min-width: 600px;
  }
}

@media screen and (min-width: 1300px) {
  .inner {
    min-width: 1024px;
  }
}
